@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers (e.g., Chrome, Safari) */
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #afb2bf;
  }
  
  *::-webkit-scrollbar-thumb {
   
    background: #000814;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }